.idea*
target/
*.swp
.yoyo-migrate
Test.scala
logs/
uploaded/
.DS_Store
tmp/
**/sprites/*.png
**/sprites2x/*.png
**/helpCenter/*.png
**/activities/*.png
**/stylesheets/sprites/
**/activities/*-double11.png
**/wechat/*-bucai.png
site-prod.conf
cms-prod.conf
task-prod.conf
/test
task-scheduler/upload/
*.crx
format.sql
metastore_db/
